body {
    font-family: Lato, Helvetica, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
}
#rc_switch{
    visibility: hidden;
}
.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

h1 {
    text-align: center;
    color: #003366;
}

ol {
    list-style: none;
}
#tt{
    visibility: hidden;
    height: 3em;
}

.head_time{
    height: 4em;
    font-weight: bold;
    align-content: center;
}

.timetable {
    display: flex;
    background: #ecf0f1;
    color: #444;
    border-collapse: collapse;
    border-radius: 2em;
}

.nowMarker {
    position: absolute;
    border-bottom: 2px solid #ff7f6e;
    z-index: 100;
    width: 100%;
    top: -2px;
    transition: top 2s ease-in-out;
}

.timings {
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.week {
    margin: 0;
    display: -webkit-flex;
    display: flex;
    overflow-x: auto;
    padding: 0;
    width: 100%;
    border-left: 1px solid #ddd; /* Vertical lines */
}

.day {
    position: relative;
    border-bottom: 1px solid #ddd; /* Horizontal lines */
    padding: 0;
    min-width: calc(100.5% / 3);
    transition: min-width 0.2s ease-in-out;
    background-color: #f0f8ff; /* Default background color */
}

.day:nth-child(odd) {
    background-color: #e0efff; /* Light blue */
}

.day:nth-child(even) {
    background-color: #d0e7ff; /* Slightly darker blue */
}

.name {
    display: block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-right: 1px solid #ddd; /* Vertical lines */
    background-color: #d7d7d7b6;
}

.hour {
    position: absolute;
    height: 4em;
    text-indent: 3px;
    width: 100%;
    color: white;
    border-right: 1px solid #ddd; /* Vertical lines */
    border-bottom: 1px solid #ddd; /* Horizontal lines */
    border-radius: 5px;
    align-content: center;
}

.hour__08 { top: 3em; }
.hour__09 { top: 7em; }
.hour__10 { top: 11em; }
.hour__11 { top: 15em; }
.hour__12 { top: 19em; }
.hour__13 { top: 23em; }
.hour__14 { top: 27em; }
.hour__15 { top: 31em; }
.hour__16 { top: 35em; }
.hour__17 { top: 39em; }
.hour__18 { top: 43em; }
.hour__19 { top: 47em; }
.hour__20 { top: 51em; }

.hour--two { height: 8em; }
.hour--three { height: 12em; }

.class1 { background: #3498db; }
.class2 { background: #27ae60; }
.class3 { background: #e74c3c; }
.class4 { background: #e67e22; }
.class5 { background: #1abc9c; }

@media (min-width: 1300px) {
    #menuToggle{
        position: absolute;
        left: 90%;
        top:4.5%;
    }
    
    #rc_switch {
    visibility: visible;
    display: none;
    }
    
    .toggle {
    position: relative;
    width: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
    }
    
    .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: #003366;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
    }
    
    /***** Collapse Animation *****/
    
    .bar--top {
    bottom: calc(50% + 8px + 4px/ 2);
    transition-property: bottom,margin,transform;
    transition-delay: calc(0s + 0.35s),0s,0s;
    }
    
    .bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: top,opacity;
    transition-duration: 0.35s,0s;
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }
    
    .bar--bottom {
    top: calc(50% + 8px + 4px/ 2);
    transition-property: top,transform;
    transition-delay: 0s;
    }
    
    #rc_switch:checked + .toggle .bar--top {
    bottom: calc(50% - 11px - 4px);
    margin-bottom: calc(11px + 4px/ 2);
    transform: rotate(45deg);
    transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }
    
    #rc_switch:checked + .toggle .bar--middle {
    top: calc(50% + 11px);
    opacity: 0;
    transition-duration: 0.35s,0s;
    transition-delay: 0s,calc(0s + 0.35s);
    }
    
    #rc_switch:checked + .toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(-45deg);
    transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
    }

    .toggle1{
        .day {
            position: relative;
            border-bottom: 1px solid #ddd; /* Horizontal lines */
            padding: 0;
            min-width: calc(100% / 5);
            transition: min-width 0.2s ease-in-out;
            background-color: #f0f8ff; /* Default background color */
        }
        .day:nth-child(odd) {
            background-color: #e0efff; /* Light blue */
        }
        
        .day:nth-child(even) {
            background-color: #d0e7ff; /* Slightly darker blue */
        }
        .week{
            overflow-x: hidden;
        }
    }    
}

.toggle0{
    .timetable {
        flex-direction: column;
    }
    .timings {
        margin: 0;
        width: 100%;
        height: 3em;
        display: flexbox;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.5em;
    }
    .name {
        background-color:#00023b1a;
        width: 9%;
        line-height: 5em;
        height: 5em;
        font-weight: bold;
    }
    .week {
        flex-direction: column;
    }
    #tt{
        height: 1.3em;
        visibility:visible;
        text-align: center;
        width:9%;
        font-weight: bolder;
        font-size:x-large;
    }
    .head_time{
        height: 1.5em;
        text-align: center;
        font-weight: bolder;
        width:7%;
        font-size: large;
    }

    #id{
        width:7%;
    }
    .hour {
        top: 0;
        width: 7%;
        height: 100%;
        border-radius: 10px;
        align-content: center;
    }
    .hour__08 { left: 9%; }
    .hour__09 { left: 16%; }
    .hour__10 { left: 23%; }
    .hour__11 { left: 30%; }
    .hour__12 { left: 37%; }
    .hour__13 { left: 44%; }
    .hour__14 { left: 51%; }
    .hour__15 { left: 58%; }
    .hour__16 { left: 65%; }
    .hour__17 { left: 72%; }
    .hour__18 { left: 79%; }
    .hour__19 { left: 86%; }
    .hour__20 { left: 93%; }
    .hour--two { width: 14%; }
    .hour--three { width: 21%; }

    .check-box{
        top:5%;
    }
}

footer {
    position: absolute;
    width: 100%;
    height: 48px;
    background: #aaa;
}
